.header {
    
    
}

.header-nav {
    display: flex;
}

.header,
.header-nav,
.header-nav__menu,
.header-nav__logo,
.header-nav__social

    {
    border: 1px solid red;
}

.header-nav__menu {
    width: auto;
    display: flex;
    flex: 1;
    color: var(--subtitle-color);
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 40px;
    padding-right: 10px;
    color: aliceblue;
}

.header-nav__logo {
    width: auto;
}

.header-nav__social {
    width: auto;
    flex: 1;
    margin: auto;
    justify-content: center;
}


.header-content__title {
    text-align: center;
}